<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="egovframework.example.board.service.ExcelMapper">

<!-- ///////////////// excel upload 시작 /////////////////-->

	<update id="insertExcel" parameterType="egovframework.example.board.service.ExcelMapper">
		MERGE INTO MYEXCEL A
			USING ( SELECT 	 #{prodId} AS prodId
			            	,#{prodName} AS prodName
			            	,#{prodPrice} AS prodPrice
			        FROM DUAL   )
			B ON ( A.prodId = B.prodId )
			WHEN MATCHED THEN
			    UPDATE 
			        SET A.prodName     = B.prodName
			            ,A.prodPrice   = B.prodPrice
			WHEN NOT MATCHED THEN
			    INSERT (     prodId
			                ,prodName
			                ,prodPrice  
			            )
			    VALUES  (    B.prodId
			                ,B.prodName
			                ,B.prodPrice
			            )
	
	</update>
<!-- ///////////////// excel upload 끝 /////////////////-->

 
</mapper>








